
body {

background: linear-gradient(to bottom,  pink,#FFAE54);
    
    border: white;
    font-family: 'Courier New', Courier, monospace;
    color: black
}



header {
    
    text-align: center;
    color: #E79796
}

footer {
   
    text-align: center;
    color: #E79796
}
img {
    border-radius: 20px;
    size: 50%;
    width: 1;
}

h1 {
      color: orange;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
}

article {
    background-color: white;

}